@import "../../../../../styles/variable";

.details-slider-text {
  //background: $blue-5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .slider-container {
    display: flex;
    justify-content: center;
    span {
      //color: white;
      margin: 0 15px;
      font-size: 24px;

      &.control {
        cursor: pointer;
      }
      &.name {
        text-align: center;
        display: block;
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}
