@import "../../../../../../styles/variable";


.timeline-list {
  * {
    color: $gray3
  }

  overflow: auto;

  .card-item2 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    background-color: #ffffff;
  }

  .timeline-cards {
    display: flex;
    overflow-x: auto;

    .card-item1 {
      width: 185px;
      height: 108px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
      border-radius: 3px;
      background-color: #ffffff;
      margin-right: 10px;
      margin-bottom: 10px;
      min-width: 180px;

      &:hover {
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
      }

      .card-title {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 25px;

      }

      svg {
        &.timeline-icon {
          margin: 0;
          margin-right: 15px;
          width: 20px;
          height: 20px;

          * {
            fill: $blue-222;
          }
        }

      }
    }
  }

  .timeline-info {
    max-height: calc(100vh - 455px);
    overflow-y: auto;

    * {
      font-size: 12px;
    }


    .timeline-data {


      display: flex;
      flex-direction: row;
    }

    .markers {
      width: 40px;
      display: flex;
      flex-direction: column;
      height: 100%;

      .main-marker {
        background-color: rgba(76, 179, 249, 0.42);
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: 2px;

        span {
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background-color: #4cb3f9;
        }
      }

      .marker-items-list {
        width: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -7px;

        .sub-marker {
          margin-top: 20px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #4cb3f9;
        }
      }

    }

    .timeline-record {

      width: 100%;
      margin-bottom: 15px;

      * {
        color: #000000;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      table {
        tr {
          td {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            &:nth-child(1) {
              width: 1%;
              max-width: 40px;
            }

            &:nth-child(2) {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }


  table {
    &.short-table {
      td {
        min-width: 45px;
        max-width: 120px;
      }
    }

  }
}
