@import "../../../styles/variable";

.overview-menu {
  padding: 0 20px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid $gray3;
  .active {
    * {
      font-family: $fontProximaBold;
    }

    .menu-item {
      box-shadow: 0 0 8px rgba(90, 83, 121, 0.1);
      border-radius: 10px;
      background-color: #ffffff;
      color: $blue;
      *{
        transition: none;
      }


      &.menu-icon-0 {
        span {
          color: $blue;
        }
      }

      &.menu-icon-1 {
        span {
          color: $back2;
        }
      }

      &.menu-icon-2 {
        span {
          color: $blue-1;
        }
      }

      &.menu-icon-3 {
        span {
          color: $blue-2;
        }
      }

      &.menu-icon-4 {
        span {
          color: $blue-3;
        }
      }

      .menu-icon {
        width: 46px;
        height: 46px;
        border-radius: 10px;
        left: -23px;

        * {
          display: block;
        }

        svg {
          width: 46px;
          padding: 5px;
          left: 0;
        }
      }
    }
  }

  a {
    text-decoration: none;

    * {
      text-decoration: none;
    }
  }

  .menu-item {
    position: relative;
    min-width: 240px;
    padding: 15px 20px;
    padding-left: 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;

    span {
      color: $back;
    }

    &:hover {
      box-shadow: 0 0 8px rgba(90, 83, 121, 0.1);
      border-radius: 10px;
      background-color: #ffffff;
      color: $blue;
    }

    &.menu-icon-0 {
      .menu-icon {
        background-color: $blue;
      }
    }

    &.menu-icon-1 {
      .menu-icon {
        background-color: $back2;
      }
    }

    &.menu-icon-2 {
      .menu-icon {
        background-color: $blue-1;
      }
    }

    &.menu-icon-3 {
      .menu-icon {
        background-color: $blue-2;
      }
    }

    &.menu-icon-4 {
      .menu-icon {
        background-color: $blue-3;
      }
    }

    .menu-icon {
      position: absolute;
      left: -3px;
      width: 6px;
      height: 22px;
      border-radius: 2px;


      svg {
        display: none;
        left: 0;

        path {
          fill: white;
        }
      }
    }
  }
}
