@import "../../../../../../styles/variable";

.family-card-desc {
  background-color: white;
  border-top: 4px solid $blue-1;
  padding: 10px 20px;
  max-height: calc(100vh - 220px);
  overflow: auto;

  img {
    width: 40px;
  }

  .item-dis {
    padding-bottom: 10px;

    .level-title {
      font-weight: 900;
      padding-bottom: 5px;
      text-transform: capitalize;


    }

    .item-disease {
      .item-number {
        color: $blue-1;
      }

      .item-disaply {
        color: $gray41;
        padding-left: 5px;
      }
    }
  }

}
