@import "../../../../styles/variable";

.header-search {
  padding-right: 20px;
}

.search-area {
  .search-text {
    color: $back;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .search-input {
    width: calc(100% - 100px);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid $gray3;

    input {
      width: 100%;
      background: $gray;
      border: none;
      outline: none;
      padding: 5px;
      font-size: 20px;
    }

    svg {
      width: 30px;

      &.person-date-icon {
        width: 17px;
      }
    }

  }

  .person-date {
    svg {
      width: 17px;
      margin: 5px;
    }

    span {
      color: $gray41;
      font-size: 17px;
      font-weight: 400;
    }
  }

}
