@import "../../../../../../../styles/variable";

.incident-actions {
  button {
    background: $orange112;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
