@import "../../../styles/variable";

header {
  padding: 25px;
  padding-right: 0;
  min-height: 200px;
  display: flex;
  width: 100%;

  .person-data {
    margin-bottom: 10px;
    margin-top: -10px;

    .person-info {
      min-width: 250px;

      .person-avata {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {

          height: 100%;
        }
      }


      .person-desc {
        padding-left: 15px;

        .person-name {
          color: $black;
          font-size: 25px;
          font-weight: 700;
        }

        .person-description {
          color: $gray2;
          font-size: 15px;
          font-weight: 400;
        }

        span {
          width: 100%;
        }
      }

    }
  }

  .header-info {
    border-bottom: 1px solid $gray3;
    padding: 20px;
    padding-right: 25px;
    margin-top: -40px;

    svg {
      &.settings {
        padding: 5px;
      }
    }

    .separator {
      width: 1px;
      margin: 5px;
      height: 18px;
      background-color: $gray3;
    }
  }
}
