@import "../../../../../../styles/variable";

.incident-details {
  .incident-main {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    font-family: $fontProximaBold;
  }

  .incident-main-1 {
    font-size: 16px;
    font-weight: 400;
  }

  table {
    tr {
      td {
        &:nth-child(2) {
          width: 50%;
        }
      }
    }
  }

  .timeline-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: $fontProximaBold;
    //border-top: 1px solid $gray2223;
    padding-top: 20px;
  }

  .tabs-list {
    margin-top: 15px;
    border-top: 1px solid $gray2223;
  }

  .material-icons {
    font-size: 34px;
    color: #4cb3f9;
  }
}
