@import "../../../../../styles/variable";


.fullHeightR {
  overflow: auto !important;
}

.epidemiology {

  .MuiFab-primary {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;

    .MuiFab-label {
      svg {
        margin: 0;
      }
    }
  }


  .incidents {
    border-radius: 0;
    min-width: 415px;
    box-shadow: inset 0 -1px 0 rgba(236, 236, 236, 0.7);
    background-color: rgba(255, 255, 255, 255);
    border-left: 4px solid white;
    overflow-x: hidden;
    overflow-y: auto;

    &.selected {
      box-shadow: inset 0 -1px 0 rgba(236, 236, 236, 0.7);
      background-color: rgba(237, 247, 254, 0.7);
      border-left: 4px solid $blue-222;
    }

    table {
      width: 100%;

      tr {
        td {
          &.snd-col {
            max-width: 80px;
          }
        }
      }
    }

    .incident-open {
      opacity: 0.8;
      color: #686a6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    .incident-reg {
      color: #000000;
      font-family: $fontProxima;
      font-size: 13px;
      font-weight: 100;
      line-height: 20px;
    }

    .incident-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      color: #000000;
      font-family: $fontMedium;
    }

    .el-status {
      color: $green1;
      background-color: rgba(11, 222, 120, 0.1);
      width: 61px;
      height: 29px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      line-height: 22px;

      &.open {
        color: white ;
        background-color: #99CC99;
      }
      &.close {
        color: black ;
        background-color:  #D2D2D2;
      }
    }

    table {
      td {
        font-size: 12px;
        max-width: 120px;
      }
    }
  }
}
