@import "../../../styles/variable";

.overview-header{
  width: 100%;
  border-bottom: 1px solid $blue;
  padding:  5px;
  position: relative;
  .overview-point{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $blue;
    bottom: -4px;
    left: -4px;
  }
  .bread-crumbs{
    font-size: 14px;
    font-weight: 400;

    .breacrumb-item {

      max-width: 140px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    span{
      &.bread-crumbs-previos{
        color: $gray3;
      }
      &.bread-crumbs-delimeter{
        margin:  0 5px;
        color: $gray3;
      }
      &.bread-crumbs-current{
       color: $back;
      }
    }
  }

  .overview-title{
    color: $blue-0;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
