@import "../../../../../../../styles/variable";

.card-view {
  width: 120px;
  border-radius: 5px;
  box-shadow: -1px 4px 24px -10px rgba(0, 0, 0, 0.75);

  .family-name {
    background-color: $blue-2;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

  }

  .family-type {
    padding: 10px;

    .card-person-icon {
      width: 100%;
      border: 2px solid $blue-2;
      border-radius: 5px;
    }
  }
}
