.table-container {
  .table {
    width: 100%;

    tr:last-child td:first-child {
      border-bottom-left-radius: 5px;
    }

    tr:first-child td:first-child {
      border-top-left-radius: 5px;
    }

    tr:first-child td:last-child {
      border-top-right-radius: 5px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 5px;
    }

    thead {
      th {

        text-align: left;
        padding: 15px!important;
        border-bottom: solid 1px #eee;
      }
    }

    .col-th{
      text-align: left!important;
    }
    &__header {
      .w-15 {
        width: 15%;
      }

      .p-5 {
        padding: 5px;
      }
    }

    // width: 81%;
    .table-body {

      .cell-content {
        margin: 15px 10px;

        p {
          margin: 0 5px;
          //font-weight: bold;
        }
      }

      .text-center {
        text-align: center;
      }

      .value {
        color: #72a4ff;
        font-weight: 600;
      }

      .property {
        display: flex;
        align-items: center;
        color: #5a5379;
        text-align: left;

        justify-content: flex-start;
      }

      .unit {
        color: #5a5379;
        font-weight: 600;
      }

      .wrapper-button {
        display: flex;
        justify-content: center;

        .button {
          font-size: 13px;
          background-color: #72a4ff;
          border-radius: 5px;
          color: white;
          padding: 3.5% 5%;
        }
      }
    }
  }
}

