@import "../../../../../../styles/variable";


.epidemiology{
  .tasks{
   table{
     &.table{
       tr{
         td{
           &:nth-child(2){
             width: initial!important;
           }
         }
       }
     }
   }
  }
}
