@import "../../../../styles/variable";

.header-menu {
  position: relative;

  svg {
    margin: 2px;

    &.menu-arrow {
      width: 11px;
    }

    &.menu-avatar {
      width: 30px;
    }

  }

  .menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: - 75px;
    min-width: 120px;

    .menu-dropdown-item {
      background: white;
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;
      color: $gray412;
      box-shadow: 0 0 8px rgba(90, 83, 121, 0.1);
      cursor: pointer;

      &:hover {
        background: $gray412;
        color: white;
      }
    }
  }

  &:hover {
    .menu-dropdown {
      display: block;

    }
  }
}
