@import "../../../../styles/variable";

.my-form {
  padding: 0 20px;

  .form-item-label {
    text-align: left;

    margin: 10px 0;
  }

  .form-item-value {
    padding: 0;
  }
}

.status-popup {
  background-color: $orange1;

  * {
    color: $back;
    font-size: 18px;
  }

  .header {
    font-size: 22px;
    border: none;
    padding: 10px;
  }

  .actions {
    display: flex;
  }
}

.popup-content {
  padding: 0 !important;
}

.list-btns {
  button {
    margin: 0 5px;
  }
}
