@import "variable";

.my-btn {
  margin: auto;
  color: white;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #a8b3c2;;

  &.def-btn{
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    color:#7B68EE;
  }
  &.my-primary {
    background-color: $back;
  }

  &.my-success {
    background-color: $blue-3;
  }
  &.pop-up-btn {
    padding: 10px 20px!important;;
    color: white;
    background: $gray2;
    border-radius: 0px!important;
  }

  span {
    padding: 10px 10px;
    border-right: 1px solid $gray223;
    margin-right: 10px;
  }

  svg {
    width: 17px;

    path {
      fill: $gray223 !important;
    }
  }
}
