@import "./variable";
@import "./paddings";

.font14{
  font-size: 16px!important;
  *{
    font-size: 16px!important;
  }
}
svg {
  width: 25px;
  height: 25px;

  path {
    //fill: $gray1;
  }
}
.MuiTabs-fixed{
  overflow-x: auto!important;
}

h4, p {
  margin: 0;
}
::placeholder{
  color: #9aa0a6;
}
:-ms-input-placeholder,
::-webkit-input-placeholder { /* Edge */
  color: #9aa0a6;
}

.text-overflow {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  cursor: pointer;

  &:hover {
    //text-decoration: underline;
    //border-bottom: 1px solid $back;
  }
}

.m-0 {
  margin: 0 !important;
}

.p-4 {
  margin: 8px;
}

.text-orange {
  color: $orange;
}

.text-blue {
  color: $blue;
}

.highlight {
  margin: 0 !important;
  padding: 0 !important;
  color: white;
  background-color: $orange;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &.__link {
    color: #0000FF;
    text-decoration: underline;
  }

  &.link {

    display: inline-block;
    position: relative;


    &:after {

      content: "";
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -5px;
      transition: all 250ms ease 0s;
      -webkit-transform: scale(0);
      transform: scale(0);
      transform-origin: left;
      background: $blue none repeat scroll 0% 0%;
    }

    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }

}

.card-title {
  a {
    &.link {

      &:hover {
        &:after {
          background: $blue none repeat scroll 0% 0%;
        }
      }
    }

  }
}

span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}


::-webkit-scrollbar-track {
  //border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #dddddd;
  height: 12px;
  //background-color: rgba(245, 245, 245, 0);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  //background-color: $blue-op;

  border-radius: 5px;
  width: 8px;
  height: 8px;
  background-color: rgba(77, 77, 77, 0.5);
  cursor: pointer;

  &:hover {
    background-color: #4d4d4d;
  }

}
//
//* {
//  transition: 0.3s all linear;
//}

.modal {
  .content {
    font-size: 18px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}

svg {
  cursor: pointer;

  &:hover {

  }
}
