@import "../../../styles/variable";

header {
  height: 72px;
  display: flex;
  width: 100%;
  box-shadow: inset 0 1px 0 #ececec;
  background-color: #ffffff;
  padding: 0 20px;
  border-bottom: 1px solid #ececec;

  .person-data {

    .person-info {
      min-width: 250px;

      .person-avata {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {

          height: 100%;
        }
      }


      .person-desc {
        padding-left: 15px;

        .person-name {
          color: $black;
          font-size: 25px;
          font-weight: 700;
        }

        .person-description {
          color: $gray2;
          font-size: 15px;
          font-weight: 400;
        }

        span {
          width: 100%;
        }
      }

    }
  }

  .header-info {
    //border-bottom: 1px solid $gray3;
    //padding: 20px;
    //padding-right: 25px;
    //margin-top: -40px;

    svg {
      &.settings {
        padding: 5px;
      }
    }

    .separator {
      width: 1px;
      margin: 5px;
      height: 18px;
      background-color: $gray3;
    }
  }
}
