@import "../../../styles/variable";

.hide-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

aside {
  background-color: white;
  width: 191px;
  height: 100vh;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
  z-index: 1;

  * {
    transition: none;
  }

  .main-navbar {
    padding: 15px;
    height: 72px;
    box-shadow: inset 0 1px 0 #ececec;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;

    border-bottom: 1px solid #ececec;
    svg {
      fill: #686a6e;

      path {
        fill: #686a6e;
      }
    }

    .logo {
      width: 60px;
      height: 45px;

      img {
        height: 100%;
      }
    }
  }

  .list-navbar-menu {
    position: relative;
    max-height: calc(100vh - 200px);
    overflow: auto;
    cursor: text;

    a {
      text-decoration: none;

      &.active {
        .menu-item {
          background-color: rgba(76, 179, 249, 0.08);

          span {
            color: $blue-222;
          }
        }
      }
    }

    .active {
      .menu-item {


        svg {
          path {
            fill: $back2;;
          }
        }

        .arrow {
          visibility: visible;
        }
      }

    }

    .menu-item {
      width: 100%;
      display: flex;
      height: 50px;
      cursor: pointer;
      align-items: center;
      justify-content: flex-start;
      padding-left: 24px;

      &.text-analysis {

        .menu-item-title {
          text-transform: none;
        }
      }

      &.fixed {
        pointer-events: none;
        //background-color: $back;
        padding-left: 5px;

        &.text-analysis {
          background-color: $back-33;

          .menu-item-title {
            text-transform: uppercase;
          }

          svg {
            visibility: hidden;
          }
        }

        svg {
          margin-left: 20px;
          width: 18px;
        }
        span {
          color: #000000;
          font-family: $fontMedium;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 22px;
          text-transform: uppercase;
          margin-left: 0px;
        }
      }

      .arrow {
        visibility: hidden;
      }

      svg {
        &.arrow {
          transform: rotate(-90deg);
        }
      }

      span {
        //margin-left: 15px;
        color: $gray1;
        font-family: $fontProxima;
        font-size: $font17;
        font-weight: 400;
        line-height: $font17;
        text-decoration: none;
      }

      .key-words {
        .menu-item-text {
          background-color: $orange2 !important;
        }
      }

      .conditions {
        .menu-item-text {
          background-color: $orange3 !important;
        }
      }

      .menu-item-text {

        width: 5px;
        height: 20px;
        border-radius: 5px;
        background-color: $blue;

        &.menu-icon-0 {
          background-color: $blue;
        }

        &.menu-icon-1 {
          background-color: $back2;
        }

        &.menu-icon-2 {
          background-color: $blue-1;
        }

        &.menu-icon-3 {
          background-color: $blue-2;
        }

        &.menu-icon-4 {
          background-color: $blue-3;
        }
      }

      &.active,
      &:hover {
        background-color: rgba(76, 179, 249, 0.08);

        span {
          color: $blue-222;
        }


        svg {
          path {
            fill: $back2;;
          }
        }

        .arrow {
          visibility: visible;
        }
      }
    }
  }
}


