.vital-signs {
  &-content {
    display: flex;
    //justify-content: center;
    .health {
      height: 258px;
      width: 250px;
      /* background-position: center; */
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../../../../../assets/img/icons/body.png');
      background-repeat: no-repeat, repeat;
      /* background-position: 10px 10px; */
      position: relative;
      margin-left: 20px;
      margin-top: 20px;
      &-level {
        position: absolute;
        height: 10px;
        box-shadow: 20px 200px 116px -32px rgba(114,164,255,1);
        border-bottom: 2px solid #72a4ff;
        width: 90%;
        top: 1%;
        left: 17px;
      }
      img {
        height: 50%;
      }
    }
    .table-container {
      width: 100%;
    }
  }
  .table-container {
    margin-top: 1.4%;
  }
}
svg {
  margin-right: 20px;
  height: 20%;
  &.vital-icon {
    color: #72a4ff;
  }
  &.arrow {
    transform: rotate(180deg);
  }
}
