@import "../../../../../../../styles/variable";

.member-tab-details {
  .nav-tabs {
    padding-left: 4px;


  }
  .tab-content {
    overflow: auto;
    max-height: calc(100vh - 320px);
    padding: 0 4px;
  }

  .nav-tabs > li {
    padding-right: 30px;
  }

}
