@import "../../../styles/variable";

.work-space-area {
  //padding: 25px;
  display: flex;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
  height: 100%;
  position: relative;
  flex-direction: column;

  .menu-item {
    position: absolute;
    right: 40px;
    top: 30px;
  }
}
