@import "../../../../../styles/variable";

.overview-about {
  hr{
    border:1px solid #cbcccf;
    width: 90%;
  }
  .vital-signs {
    margin-right: 15px;
  }
  .mt {
    padding-top: 20px;
  }

  .card-item-row {
    padding: 10px 20px;
    border-bottom: 1px solid $gray;

    .card-label {
      color: $gray412;
      font-size: 18px;
      font-weight: 300;
    }


    .card-label-info {
      color: $gray1;
      font-size: 18px;
      font-weight: 400;
      max-width: 50%;
      text-align: right;
    }

    .card-label-ad-info {
      color: $back22;
      margin-left: 10px;

      svg {
        path {
          fill: $back22;
        }
      }

      .years-old {
        font-size: 34px;
      }

      .old {
        font-size: 9px;
      }
    }
  }

  .person-data {
    img {
      width: 335px;
      border-radius: 10px;
      margin: auto;
    }

    .my-btn {
      margin: auto;
      color: $gray223;
      border: 0;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 10px;
      cursor: pointer;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 4px;

      &.my-primary {
        background-color: $back;
      }

      span{
        padding: 10px 10px;
        border-right: 1px solid $gray223;
        margin-right: 10px;
      }
      svg {
        width: 17px;
        path {
          fill: $gray223!important;
        }
      }
    }
  }
}
