@import "../../../../../../../styles/variable";

.details-slider {
  //background: $blue-5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  .slider-container {
    display: flex;
    justify-content: center;
    border:1px solid $blue-5;
    border-radius: 5px;
    padding: 5px;
    span {
      &.name{
        color: $blue-5;
      }

      margin: 0 15px;
      font-size: 18px;

      &.control {
        cursor: pointer;
      }
      &.name {
        text-align: center;
        display: block;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}
