@import "../../../../../../styles/variable";


.family-tree-node {
  .row-node-item {
    margin: 40px 0;

    .node-item {
      position: relative;

      &.first-item {
        .connection-point {
          &:after {
            display: none;
          }
        }
        &:after {
          display: none;
        }
      }
      &.last-item {
        .connection-line{
          display: none;
        }
        .connection-point {
          &:before {
            display: none;
          }
        }
        &:before {
          display: none;
        }
      }

      .connection-line {
        position: relative;

        &:before {
          content: ' ';
          position: absolute;
          width: 25%;
          top: -40px;
          left: 50%;
          border: 1px solid $blue-1;
        }

        &:after {
          content: ' ';
          position: absolute;
          width: 25%;
          top: -40px;
          left: 25%;
          border: 1px solid $blue-1;
        }
      }

      .connection-point {
        position: relative;

        &:before {
          content: ' ';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: -44px;
          background-color: $blue-1;
          left: 50%;
          transform: translateX(56px);
        }

        &:after {
          content: ' ';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 186px;
          left: 50%;
          background-color: $blue-1;
          transform: translateX(56px);
        }
      }

      &:before {
        content: ' ';
        position: absolute;
        height: 40px;
        top: -40px;
        left: 50%;
        border: 1px solid $blue-1;
        transform: translateX(-50%);
      }

      &:after {
        content: ' ';
        position: absolute;
        height: 40px;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid $blue-1;
      }
    }
  }
}
