@import "../../../../../../../../../styles/variable";

.member-details {
  border: 1px solid $back;
  padding: 10px;
  margin-bottom: 10px;
  .d-flex {
    padding: 5px 0;
    //align-items: center;
    span{
      text-align: left;
      &:first-child{

        margin-right: 20px;
      }
    }
  }

  .member-details-status {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $back;
    margin-right: 44px;
  }

  .member-details-title {
    font-weight: 900;
    text-align: left;
  }
}
.comment-svg{
  position: absolute;
  right: 0;
  top:0;
  padding: 10px;
}
