@import "./styles/classes.scss";
@import "./styles/variable.scss";

.App div {
  text-align: left;
}

.text {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
