@import "./styles/btns";
@import "./styles/general";
@import "./styles/classes.scss";
@import "./styles/variable.scss";
@import "./styles/loader.scss";

*, :after, :before {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/Proxima Nova Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova - Bold';
  src: url("./assets/fonts/Proxima Nova Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url("./assets/fonts/Proxima Nova Semibold Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url("./assets/fonts/Proxima Nova Semibold Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("./assets/fonts/Proxima Nova Light.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *{
    font-family: $fontProxima;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
