@import "../../../styles/variable";

/**
 * Material Style Tabs
 * Inspired by: http://bootsnipp.com/snippets/featured/material-design-tab-style
 */
.tab-set {
  //background: #FFF;
  display: flex;
  flex-direction: column;
  //-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  //-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  &.p-5{
    .tab-content {
      padding:  2px;
    }
    .tabs-nav{
      border-left: 2px solid $orange;
    }

  }
}

.tab-content {
  //padding: 15px 15px 25px 15px;
  text-align: center;
}

.nav-tabs {
  //border-bottom: solid 2px #eee;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  margin-bottom: 10px;
}

.nav-tabs > li.disabled:hover {
  background: transparent;
}

.nav-tabs > li.disabled:hover > a {
  margin-top: 1px;
}

.nav-tabs > li > a {
  border: none;
  color: #000;
  background: transparent;
  font-weight: 600;
  opacity: .5;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.nav-tabs > li > a {
  color: $back2;
}
.nav-tabs > li > a:hover {
  border: none;
  color: $back2;
  background: transparent;
  opacity: 1;
}

.nav-tabs > li > a::after {
  content: "";
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
  background: $back2 none repeat scroll 0% 0%;
  color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
  opacity: 1;
  color: $orange;
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.nav-tabs > li {
  float: left;
  position: relative;
  display: block;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  padding: 15px  5px;
  margin-right: 60px;
  font-size: 20px;
}
.nav>li {
  position: relative;
  display: block;
}
