@import "../../../styles/variable";

aside {
  background-color: white;
  width: 191px!important;
  height: 72px;

  .main-navbar {
    padding: 25px;
    //min-height: 150px;
  }

  .list-navbar {
    max-height: calc(100vh - 200px);
    overflow: auto;

    a {
      text-decoration: none;
    }

    .active {
      .menu-item {
        background-color: $back;
        .menu-item-text{
          background-color: $back!important;
        }
        span {
          color: white;
        }

        svg {
          path {
            fill: $back2;;
          }
        }

        .arrow {
          display: block;
        }
      }

    }

    .menu-item {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 18px 25px;
      cursor: pointer;


      .arrow {
        display: none;
      }

      svg {
        &.arrow {
          transform: rotate(-90deg);
        }
      }

      span {
        margin-left: 15px;
        color: $gray1;
        font-family: $fontProxima;
        font-size: $font17;
        font-weight: 400;
        line-height: $font17;
        text-transform: uppercase;
        text-decoration: none;
      }
      .menu-item-text {

        width: 10px;
        height: 20px;
        border-radius: 5px;
        &.menu-icon-0 {
          background-color: $blue;
        }

        &.menu-icon-1 {
          background-color: $back2;
        }

        &.menu-icon-2 {
          background-color: $blue-1;
        }

        &.menu-icon-3 {
          background-color: $blue-2;
        }

        &.menu-icon-4 {
          background-color: $blue-3;
        }
      }
      &.active, &:hover {
        background-color: $back;

        .menu-item-text{
          background-color: $back;
        }
        span {
          color: white;
        }

        svg {
          path {
            fill: $back2;;
          }
        }

        .arrow {
          display: block;
        }
      }
    }
  }
}


